<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% import "bootstrap/wtf.html" as wtf %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加终端</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<style type="text/css">
	.content{
		margin:2% 8%;
		overflow:hidden;
	}
	.right-float{
		float:right;
	}
	.nav-text{
		font-size:1.1em;
	}
	.nav-a{
		padding:15px 8px !important;
	}
	.container{
		margin:0 8%;
		padding:0 0;
	}
	.config-btn{
		border:0;
		padding:0;
	}
</style>
</head>

<body>
<nav class="navbar navbar-default ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-text" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		  <li class="nav-text"><a class="nav-a" href="{{url_for('main.page_index')}}">首页</a></li>
		  <li class="nav-text"><a class="nav-a" href="{{url_for('main.page_base',bsid=bsid)}}">>&nbsp;&nbsp;&nbsp;&nbsp;基站 {{bsid}}</a></li>
		  <li class="nav-text"><a class="nav-a" href="{{url_for('main.page_trx',bsid=bsid,trxid=trxid)}}">>&nbsp;&nbsp;&nbsp;&nbsp;通道{{trxid}}</a></li>
      </ul>
	  <ul class="nav navbar-nav right-float">
		  {% if current_user.is_authenticated %}
        <li class=""><a href="#">退出登录</a></li>
		{%else %}
        <li class=""><a href="#">登录</a></li>
		{%endif%}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="content">
	<form action="{{url_for('main.addss',bsid=bsid,trxid=trxid)}}" method="POST" class="form-horizontal" target="_self">
	<fieldset>
	    <legend>终端模块</legend>
		<form action="" method="post" class="form" role="form">
				<div class="form-group">
					<label class="control-label col-sm-1" for="ss_name">终端编号</label>
					<div class="col-sm-2">
						<input class="form-control" id="ss_name" name="ss_name" required type="text" value="">
					</div>
				</div>
				<div class="form-group ">
					<label class="control-label" for="ssIP">终端IP</label>
					<div class="col-sm-2">
						<input class="form-control" id="ss_ip" name="ss_ip" type="text" value="">		
					</div>
				</div>
				<div class="col-sm-offset-1 col-sm-1">
                    <button id="" type="submit"  class="btn btn-default" onsubmit="return validate_ss_cfg()">提交</button>
                </div>
                <div  class="col-sm-1">
                    <button id="" type="reset"  class="btn btn-default">重置</button>
                </div>
		</form>
	</fieldset>
</div>
</body>
<script type="text/javascript">
function validate_ss_cfg(){
	if($("#ss_name").val()=="" || $("#ssIP").val()==""){
		alert("终端配置不能为空")；
		return false;
	} 
	if(!validate_ss_name()){
		alert("终端编号由数字、字母、下划线组成");
		return false;
	}
	if(!validate_ss_ip()){
		alert("请填入合法的IP4地址")；
		return false;
	}
	var flag = 0;
	$.ajax({
		async: false,
		type: "POST",
		url: "",
		data:{
			ss_name:$("#ss_name").val(),
			ss_ip:$("#ss_ip").val()
		}
		success: function(data,textStatus){
			var obj = eval("("+data+")");
			if(obj.ss_name!=0){
				alert("编号已存在")；
				flag = -1;
			}
			if(obj.ss_ip!=0){
				alert("IP已存在");
				flag = -1;
			}
		}
	});
	$.ajaxSettings.async = true;
	if(flag==0) return true;
	else return false;
}
function validate_ss_name(){
	var reg = /^\w+$/;
	if(!reg.test($(#ss_name).val())) return false;
	else return true;
}
function validate_ss_ip(){
	var reg_ip = /\d+\.\d+\.\d+\.\d+/;
	if(reg_ip.test($(#ss_ip).val())){
		if(RegExp.$1<256 && RegExp.$2<256 && RegExp.$3<256 && RegExp.$4<256) return true;
	} 
	return false;
}
</script>
</html>
