<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {% import "bootstrap/wtf.html" as wtf %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>基站</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<style type="text/css">
	body{
		padding-top:70px;
		background-color:#f3f3f3;
	}
	
	.container-fluid{
		padding-right:0;
		padding-left:0;
		margin-right:auto;
		margin-left:auto;
	}
	.navbar-fixed-top{
		top:0;
		border-width:0;
	}
	.navbar-header{
		float:left;
		padding-left:20px;
		width:23%;
	}
	.navbar-brand {
		height:60px;
		text-align: left;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 30px;
	}
	.nav-vertical-align{
		height:60px;
		line-height:30px !important;  /* 总高度为60px，其他样式中设定了上下padding为15px，所以此处设定行距为30px才能使字符垂直居中*/
	}
	.nav-font-size{
		font-size:18px;
		font-weight:500;
	}
	.nav li a{
		color:#fff;
	}
	.nav li a:hover{
		color:#23527c;
	}
	.wrapper{
		position:relative;
	}
	#configleft{
		position:absolute;
		top:-20px;
		width:23%;
		height:100%;
		left:-23%;
		padding-top:30px;	
	}
	#sidebtn{
		width:20px;
		height:40px;
		position:absolute;
		top:30px;
		right:-20px;
		padding-top:13px;
		padding-left:3px;
		background-color:#cfcfcf;
		color:#000;
	}
	#contentright{
		margin-left:0;
		padding:3% 2%;
	}
	.panel-default > .panel-heading {
	  color: #333;
	  font-size:16px;
	  background-color: #fff;
	  border-color: #fff;
	}
	.sub-panelheading-font{
		font-size:14px;
	}
    .right-float{
        float:right;
    }
    .td-width{
        width:23%;
    }
    .td-width2{
        width:33%;
        padding:8px;
        border-bottom:1px solid #ccc;
    }
    .td-padding{
        padding:0 4%;
    }
    .td-border{
        border-left:1px solid #eee;
    }
    .table-width{
        width:100%;
    }
    .config-btn{
        border:0;
        padding:0;
    }
	.green {
		background-color: #1CC09F;
		color: #fff;
	}
	.black{
		background-color:#333;
		color:#f3f3f3 !important;
	}
	.gray{
		background-color:#cfcfcf;
	}
	.blue{
		background-color:#337ab7;
		color:#f4f4f4 !important;
	}
</style>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header black">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse blue" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class=""><a class="nav-vertical-align nav-font-size" href="{{url_for('main.index')}}">首页</a></li>	  
          <li class=""><a class="nav-vertical-align nav-font-size" href="{{url_for('main.bs',bsid=bsid)}}">>&nbsp;&nbsp;&nbsp;&nbsp;基站{{bsid}}</a></li>
      </ul>
      <ul class="nav navbar-nav right-float" id="exit">
          {% if current_user.is_authenticated %}
          <li class=""><a href="{{url_for('auth.logout')}}" class="nav-vertical-align">退出登录</a></li>
        {% else %}
        <li class=""><a href="{{url_for('auth.login')}}" class="nav-vertical-align">登录</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="wrapper">
  <div>
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		{{message}}
	</div>
	{% endfor %}
  </div>
  <div class="black" id="configleft">
		<div id="sidebtn" href=""><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
        <form class="form-horizontal black" method="post" action="/bs/{{bs}}/push_bscfg" >
			  <fieldset>
			  <div class="form-group">
				<label for="inputEmail3" class="col-sm-5 control-label">基站编号</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="1" />
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">基站IP1</label>
				<div  class="col-sm-6">
				  <input type="text" class="form-control" id="2" />
				</div>
			  </div>
                  	  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">端口号1</label>
				<div id="d1" class="col-sm-6">
				  <input type="text" class="form-control" id="3"  autocomplete="off" onblur="validate()"/><span id="s3" ></span>
				</div>
			  </div>
                  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">基站IP2</label>
				<div  class="col-sm-6">
				  <input type="text" class="form-control" id="4" />
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">端口号2</label>
				<div id="d1" class="col-sm-6">
				  <input type="text" class="form-control" id="5"  autocomplete="off" onblur="validate()"/><span id="s5" ></span>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">上行子帧时间</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="6"  autocomplete="off" onblur="validate()"/><span id="s6"></span>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">上行子帧数目</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="7"  autocomplete="off" onblur="validate()"/><span></span>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">上行竞争时间</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="8"  autocomplete="off" />
				</div>
			  </div>
              <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">下行子帧时间</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="9"  autocomplete="off" />
				</div>
			  </div>

              <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">下行子帧数目</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="11"  autocomplete="off" />
				</div>
			  </div>
              <div class="form-group">
				<label for="inputPassword3" class="col-sm-5 control-label">下行子帧序号</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="12"  autocomplete="off" />
				</div>
			  </div>

			  <div class="form-group">
				<div class="col-sm-offset-5 col-sm-6">
				  <button type="button" class="btn btn-default form-control" onclick="pullbscfg()">获取</button>
				  <button type="button" class="btn btn-default form-control" onclick="">修改</button>
				</div>
			  </div>
			  </fieldset>
		  </form>
  </div>
  <div id="contentright">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				 <div class="panel-heading">| 当前通信状态
			<!--	{% if current_user.is_admin() %}
					<button class="config-btn right-float" onclick="popConfig()">配置基站
						<span class="glyphicon glyphicon-hand-right"></span>
					</button>
				{%endif%}	
			-->
				
				<a class="right-float" title="点击查看终端位置" href="{{url_for('main.map',bsid=bsid)}}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
				 </div>
				 <div class="panel-body">
					<table class="table-width">
						<tr>
							<td class="td-width">基站ID</td>
							<td id="bsid" class="td-width">--</td>
							<td class="td-width td-padding  td-border">总吞吐量</td>
							<td id="throughout" class="td-padding">--</td>
						</tr>
						<tr>
							<td class="td-width">基站编号</td>
							<td id="bs_name" class="td-width"></td>
							<td class="td-padding td-border">上行吞吐量</td>
							<td id="=ulthroughout" class="td-padding ">--</td>
						</tr>
						<tr>
							<td >基站IP</td>
							<td id = "bsip">--</td>
							<td class="td-padding td-border">下行吞吐量</td>
							<td id="dlthroughout" class="td-padding"></td>
						</tr>
						<tr>
							<td >端口</td>
							<td id="port" ></td>
							<td class="td-padding td-border">丢包率</td>
							<td id="packetmiss" class="td-padding"></td>
						</tr>
					</table>
				 </div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					| 通道
					<a class="right-float sub-panelheading-font" href="#" onclick="addtrx()">
						添加通道 <span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
				<div class="panel-body">
					<br />请从下面列表中选择您将访问的通道。<br /><br />
				</div>
				<table class="table">
					<tr>
						<th class="td-width2">通道ID</th>
						<th class="td-width2">通道Name</th>
						<th class="td-width2">终端数</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
  </div>
</body>
<script type="text/javascript">
{#    弹出右侧窗口#}
$(document).ready(function(){
	$("#sidebtn").click(function(){
		if($(this).hasClass("closed")){
			$("#configleft").animate({left:"0"});
			$(this).removeClass("closed");
			$("#contentright").animate({marginLeft:"23%"});
		} else {
			$("#configleft").animate({left:"-23%"});
			$(this).addClass("closed");
			$("#contentright").animate({marginLeft:"0"});
		}
	});
});

{# 跳转添加通道页面#}
function addtrx(){
	var url_t = window.location+'/addtrx';
	window.open(url_t,'_self');
	return false;
}

{#    获取配置信息#}
    function pullbscfg()
    {
        var xmlhttp;
        if(window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
        }else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
            xmlhttp.onreadystatechange = function()
            {
                if(xmlhttp.readyState == 4 && xmlhttp.status == 200)
                {
                    var txt = xmlhttp.responseText;
                    var obj = eval("("+txt+")");
                    var form = document.getElementsByTagName("form")[0];
                    var inputs = [];
                    inputs = form.getElementsByTagName("input");
                    inputs[0].value =obj.bs_name;//BSName
                    inputs[1].value =obj.BSIP1;//BSIP1
                    inputs[2].value =obj.BSPort1;//BSPort1
                    inputs[3].value =obj.BSIP2;//BSIP2
                    inputs[4].value =obj.BSPort2;//
                    inputs[5].value =obj.ulPacketTime;//
                    inputs[6].value =obj.ulPacketNum;//
                    inputs[7].value =obj.ulCompetitionSectionTime;//
                    inputs[8].value =obj.dlPacketTime;//
                    inputs[9].value =obj.dlLogicSubFrameNum;//
                    inputs[10].value =obj.dlLogicSubFrameIdx;//
                    if(obj.errors=="none"){alert("get success!");}
                    else{alert(obj.errors);}

                }
            }
        var url = window.location + "/pull_bscfg";
        xmlhttp.open("GET",url,true);
        xmlhttp.send();
    }

</script>
<script type="text/template" id="html_template">
<div class="text-right right-float">
    <button type="button" class="btn btn-default" onclick="">
        <span class="glyphicon glyphicon glyphicon-zoom-in"></span>
    </button>
</div>
</script>

<script type="text/javascript">
var xmlhttp;
if(window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
}else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}
xmlhttp.onreadystatechange = function()
{
    if (!(xmlhttp.readyState == 4 && xmlhttp.status == 200)) {
    } else {

        var msg = {
        
    }
        ;
        if (msg == 1) {
            alert("config success!");
        }
        if (msg == 2) {
            alert("config failed!");
        }
        var txt = xmlhttp.responseText;
        var obj = eval("(" + txt + ")");
        var tr_num = obj.length;
        //数据处理
        var bs_table0 = document.getElementsByTagName("table")[0];
        var tds0 = bs_table0.getElementsByTagName("td");
        tds0[3].innerHTML = obj[tr_num - 1].Throughout;
        tds0[5].innerHTML = obj[tr_num - 1].bs_name;
        tds0[7].innerHTML = obj[tr_num - 1].ulThroughout;
        tds0[15].innerHTML = obj[tr_num - 1].PacketMiss;
        tds0[11].innerHTML = obj[tr_num - 1].dlThroughout;
        tds0[9].innerHTML = obj[tr_num - 1].BSIP1;
        tds0[13].innerHTML = obj[tr_num - 1].BSPort1;
        tds0[1].innerHTML = obj[tr_num - 1].BSID;
        var bs_table1 = document.getElementsByTagName("table")[1];
        for (var i = 0; i < tr_num - 1; i++) {
            var tr = document.createElement("tr");
            bs_table1.appendChild(tr);
            var td = [];
            for (var j = 0; !(j >= 3); j++) {
                td[j] = document.createElement("td");
                td[j].className = "td-width2";
                tr.appendChild(td[j]);
            }
            td[0].innerHTML = obj[i].trxid;
            td[1].innerHTML = obj[i].trx_name;
            td[2].innerHTML = obj[i].ssnum + document.getElementById('html_template').innerHTML;
            td[2].getElementsByTagName("button")[0].onclick = function (num) {
                return function () {
                    url = window.location.href + "/" + obj[num].trxid;
                    window.location = url;
                }
            }(i);
        }
    }
}
//url_t = window.location.href+"/base_data";
url_t="http://"+window.location.host+"/bs/"+{{bsid}}+"/base_data";
//alert(url_t);
xmlhttp.open("GET",url_t,true);
xmlhttp.send();
//alert(url_t);
</script>
</body>
</html>
